.images_rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        flex-basis: 50%;
        display: inline-block;
        height: 25vh;

        @media only screen and (max-widthh: 767px) {
            &{
                flex-basis: 100%;
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 5px solid $white;
        }

        &:last-child {
            flex-basis: 100%;;
        }

        &:not(:last-child)   {
            width: calc(100% - 5px);
        }

        // &:first-child a{
        //     margin-right: auto;
        // }
        &:nth-child(2), &:nth-child(2) img {
            margin-left: auto;
        }
    }
}

.rooms_content:not(:last-child) {
    margin-bottom: 4rem;

    @media only screen and (max-width: 767px) {
        margin-bottom: 2rem;
    }
}

.facilities_list {
    margin-top: 1rem;
    .facility {
        &::before {
            content: '-';
            color: $text;
        }
        color: $text;
        font-style: italic;
    }
}

div a {
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}

.info_wrap_rooms {
    text-align: center;
    background: $gray-accent;
    padding: 2rem 0;
    border: 2px solid $lines;

    .info_title {
        font-size: 1.5rem;
        font-weight: 600;;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p {
        margin-top: 0.5rem;
    }
}