.hero_banner {
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero_banner {
    background-image: url('../../dist/images/banner_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.25);
    z-index: 1;
}
.banner_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    h1, p{
        text-align: center;
    }

    @media only screen and(max-width: 767px) {
        h1 , p {
            text-align: center;
            line-height: 1.4;;
        }
    }
    
}

.banner_title {
    color: $white;
}

.h-100 {
    height: 100%;
}