.about_intro {
    padding: 7rem 0;

    @media only screen and (max-width: 767px) {
        padding: 2rem 0;
    }
}

.about_intro_img {
    // border: 15px solid $gray-accent;

    img {
        width: 100%;
        height: 40vh;;
        object-fit: cover;
        // border: 10px solid #F1F1F1;
    }
}

.about_info_img {
    margin-top: 5rem;
    figure, img {
        width: 100%;
        height: 40vh;
    }

    img {
        object-fit: cover;
    }
}

p {
    margin-top: 1rem;
}

.offers_about.offers {
    background: $gray-accent;

    .offers_list {
        margin-top: 2rem;

        @media only screen and (max-width: 767px) {
            & .col-md-12:not(:first-child) {
                margin-top: 2rem;
            }
        }
    }

    a p{
        color: $text;
    }

    .info_action {
        h3 {
            font-family: 'montserrat';
            text-transform: uppercase;
            letter-spacing: 0.1em;;
        }
    }

    .info_action, .info_action p  {
        text-align: left;
    }
}