.index_form {
    display: block;

    input {
        border: 2px solid $white;
        background: rgba(0,0,0,0.65);
        height: 3rem;
        width: 100%;
        color: $white;
        box-sizing: border-box;
        padding: 0.4em 0.6em;

        &:not(:last-child) {
            margin-right: 3rem;
        }


    }
    label {
        color: $white;
    }

    .btn_sec {
        margin-top: 4rem;
        background: $white;
        cursor: pointer;
    }
}

.footer_form {
    color: $white;
    input {
        width: 100%;
        border: none;

        &:focus, &:active {
            outline: 1px solid $primary;
        }
    }

    label {
        font-size: 1rem;;        
    }

    textarea {
        width: 100%;
        height: 6rem;
    }

    button {
        color: $white;
    }
}


@media only screen  and (max-width: 767px) {
    .index_form .btn_sec {
        margin-top: 1rem;
    }
}