// Sass setup and reset
@import "helper/mixins";
@import "helper/variable";
@import "helper/reset";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
// Global
@import "blocks/global/style";
@import "blocks/layout/style";
@import "blocks/intro/style";
@import "blocks/header/style";
@import "blocks/about/style";
@import "blocks/menu/style";
@import "blocks/index-rooms/style";
@import "blocks/index-booking/style";
@import "blocks/index-offers/style";
@import "blocks/index-blog/style";
@import "blocks/blog/style";
@import "blocks/testimonial/style";
@import "blocks/gallery/style";
@import "blocks/rooms/style";
@import "blocks/footer/style";
@import "blocks/button/style";
@import "blocks/form/style";
@import "blocks/banner/style";
// @import "blocks/bg-content/style";
@import "blocks/contact/style";
@import "blocks/our-team/style";
@import "blocks/pagination/style";
@import "blocks/single/style";
@import "blocks/common-list/style";
// @import "blocks/news-list/style";
@import "blocks/sidebar/style";
@import "blocks/pagination/style";
@import "blocks/404/style";


@media only screen and (max-width: 1366px) {
    body, html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1400px) {
    body, html {
        font-size: 20px;
    }
}

a:hover {
    text-decoration: none !important;
}

a img {
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    }
}

a:hover {
    color: inherit ;
}

.o_hidden {
    overflow: hidden;
}