/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "montserrat", sans-serif;
}

body {
  font-size: 1.25rem;
  font-family: "montserrat", sans-serif;
  color: #000;
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Abril Fatface", serif;
  color: #464646;
}

p {
  color: #464646;
}

h1 {
  font-size: 3.75rem;
  line-height: 2.8125rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 4.0625rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.375rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

img {
  max-width: 100%;
}

.aut-add-contrast [class*="aut-bg"] {
  background: rgba(0, 0, 0, 0.7);
}

.aut-bg-lightgray {
  background: #070707;
}

.aut-bg-gray {
  background: #030202;
}

.aut-bg-black {
  background: #000;
}

.aut-bg-white {
  background: #FFF;
}

.aut-bg-primary {
  background: #011600;
}

.white {
  color: #FFF;
}

a {
  text-decoration: none !important;
}

a:hover, a:focus {
  text-decoration: none !important;
}

.page_wrapper {
  padding: 7rem 0;
}

@media only screen and (max-width: 767px) {
  .page_wrapper {
    padding: 2rem 0;
  }
}

.intro_content {
  padding: 7rem 0;
}

.intro_text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 3rem;
  background: #F1F1F1;
}

.intro_text p {
  margin-top: 2.5rem;
}

.intro_content_wrap {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.intro_img, .intro_text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro_img img, .intro_text img {
  -o-object-fit: cover;
     object-fit: cover;
}

.intro_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .intro_content_wrap {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro_img {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .intro_content {
    padding: 2rem 0;
  }
  .intro_text {
    padding: 2rem 3rem;
  }
}

header, .navbar {
  background: #011600;
}

@media only screen and (max-width: 767px) {
  header {
    margin-right: 0;
  }
}

.about_intro {
  padding: 7rem 0;
}

@media only screen and (max-width: 767px) {
  .about_intro {
    padding: 2rem 0;
  }
}

.about_intro_img img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_info_img {
  margin-top: 5rem;
}

.about_info_img figure, .about_info_img img {
  width: 100%;
  height: 40vh;
}

.about_info_img img {
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  margin-top: 1rem;
}

.offers_about.offers {
  background: #F1F1F1;
}

.offers_about.offers .offers_list {
  margin-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .offers_about.offers .offers_list .col-md-12:not(:first-child) {
    margin-top: 2rem;
  }
}

.offers_about.offers a p {
  color: #464646;
}

.offers_about.offers .info_action h3 {
  font-family: 'montserrat';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.offers_about.offers .info_action, .offers_about.offers .info_action p {
  text-align: left;
}

.nav-item .nav-link, .navbar-brand {
  color: #FFF;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_reservation {
  margin-left: 2rem;
}

.navbar-nav .nav-item {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

@media only screen and (max-width: 767px) {
  .bsnav-mobile.in .navbar {
    background: #011600;
  }
  .navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler::before, .navbar-toggler::after {
    outline: none;
    border: none;
  }
  .navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
    background: #c2c2c2;
  }
}

.rooms, .offers {
  background: #011600;
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
}

.leaf {
  position: absolute;
  z-index: 1;
  top: -9rem;
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.2;
}

.room_header h2, .room_header p {
  color: #FFF;
}

.room_categories, .offers_list {
  margin-top: 4.5rem;
}

.room_categories a p, .offers_list a p {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFF;
  text-align: center;
}

.room_categories a, .offers_list a {
  display: inline-block;
}

.room_categories p, .offers_list p {
  text-align: center;
}

.room_categories figure, .offers_list figure {
  height: 24rem;
}

.room_categories img, .offers_list img {
  width: 100%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .leaf {
    width: 10rem;
    top: 0;
  }
  .rooms, .offers {
    padding: 2rem 0;
  }
  .room_categories, .offers_list {
    margin-top: 2rem;
  }
  .room_categories .col-md-4 {
    margin-bottom: 1rem;
  }
}

.booking {
  background: url("../../dist/images/banner_img.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
}

.form_content {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  width: 50%;
  margin-left: auto;
}

.form_content_wrapper {
  position: relative;
  z-index: 1;
  padding: 5rem 3rem;
}

.form_content_wrapper h2 {
  color: #FFF;
}

.form_content_wrapper input {
  border: 2px solid #FFF;
  background: rgba(0, 0, 0, 0.65);
  height: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .form_content {
    width: 100%;
  }
  :not(:last-child) {
    margin-right: 1rem;
  }
  input {
    margin-bottom: 1rem;
  }
  .index_form .btn_sec {
    margin-top: 1rem;
  }
}

.offers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F1F1F1), color-stop(50%, #011600));
  background: linear-gradient(180deg, #F1F1F1 50%, #011600 50%);
}

@media only screen and (max-width: 767px) {
  .offers_list .col-md-4 {
    margin-bottom: 1rem;
  }
  .offers_list .col-md-4:first-child p {
    color: #464646;
  }
}

.blogs {
  padding: 7rem 0;
}

.blogs .blog_list {
  padding: 0;
}

.blog_list {
  margin-top: 1rem;
}

.blog_list figure {
  height: 24rem;
}

.blog_list figure img {
  width: 100%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_list .col-md-4 a h3 {
  font-family: 'montserrat';
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog_list .col-md-4 a:hover p {
  color: #AAD922;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog_list {
  padding: 4rem 0;
}

.blog_list_image img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog_list_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.blog_list_meta .blog_single_author {
  margin-right: 10px;
}

.blog_list_meta .blog_single_author .writer_meta,
.blog_list_meta .posted_date {
  display: inline-block;
  font-weight: 600;
  background: #F1F1F1;
  padding: 3px 10px;
  border-radius: 25px;
  line-height: 1.5;
  font-style: italic;
  color: #464646;
  letter-spacing: 0.05em;
}

.blog_post_single h3 {
  font-size: 1.2rem;
}

.blog_post_single {
  padding-bottom: 2rem;
  border-bottom: 1px dashed #c2c2c2;
}

.blog_post_single h2 a {
  text-decoration: none;
}

.blog_post_single h2 a:hover {
  color: #022e00;
}

.blog_post_single:not(:first-child) {
  margin-top: 3rem;
}

@media only screen and (max-width: 767px) {
  .blogs {
    padding: 2rem 0;
  }
  .blog_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog_header .norm_link {
    margin-top: 1rem;
  }
  .blog_list .col-md-4 {
    margin-bottom: 1rem;
  }
}

.testimonial {
  display: block;
  background: #F1F1F1;
  padding: 5rem 0;
}

.testimonial p, .testimonial h3 {
  text-align: center;
}

.testimonial h3 {
  margin-top: 2rem;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-prev i,
.owl-next i {
  color: #464646;
  padding: 0.5em;
}

.owl-prev:hover, .owl-prev:focus, .owl-prev:active,
.owl-next:hover,
.owl-next:focus,
.owl-next:active {
  outline: none;
  border: none;
}

.owl-prev {
  left: -3rem;
}

.owl-next {
  right: -3rem;
}

@media only screen and (max-width: 767px) {
  .owl-prev {
    left: 0rem;
  }
  .owl-prev i {
    color: #464646;
    padding: 0.5em;
    background: #869791;
  }
  .owl-next {
    right: 0rem;
  }
  .owl-next i {
    color: #464646;
    padding: 0.5em;
    background: #869791;
  }
}

.gallery_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gallery_group a {
  height: 30vh;
  width: calc(100%/5);
}

@media screen and (max-width: 767px) {
  .gallery_group a {
    height: 20vh;
    width: calc(100% / 2 - 10px);
    margin: 0 auto;
  }
}

.gallery_group a img {
  height: 100%;
  width: 100%;
  border: 2px solid #FFF;
  -o-object-fit: cover;
     object-fit: cover;
}

.album_gallery_single:not(:last-child) {
  margin-bottom: 4rem;
}

.images_rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images_rooms a {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: inline-block;
  height: 25vh;
}

@media only screen and (max-widthh: 767px) {
  .images_rooms a {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.images_rooms a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #FFF;
}

.images_rooms a:last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.images_rooms a:not(:last-child) {
  width: calc(100% - 5px);
}

.images_rooms a:nth-child(2), .images_rooms a:nth-child(2) img {
  margin-left: auto;
}

.rooms_content:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
  .rooms_content:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.facilities_list {
  margin-top: 1rem;
}

.facilities_list .facility {
  color: #464646;
  font-style: italic;
}

.facilities_list .facility::before {
  content: '-';
  color: #464646;
}

div a {
  text-decoration: none;
}

div a:hover {
  text-decoration: none;
}

.info_wrap_rooms {
  text-align: center;
  background: #F1F1F1;
  padding: 2rem 0;
  border: 2px solid #c2c2c2;
}

.info_wrap_rooms .info_title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.info_wrap_rooms p {
  margin-top: 0.5rem;
}

footer {
  background: linear-gradient(135deg, #366B01, #AAD922);
  padding: 7rem 0;
}

.footer_form_wrap h4, .footer_form_wrap a, .footer_form_wrap p, .footer_wrapper h4, .footer_wrapper a, .footer_wrapper p {
  color: #FFF;
}

.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_links li:not(:last-child) {
  margin-right: 1.5rem;
}

.footer_contacts p {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 2rem 0;
  }
  .footer_form input {
    height: 2.5rem;
  }
  .footer_form .btn_main {
    margin-top: 1rem;
  }
  .col-md-4 {
    margin-bottom: 3rem;
  }
}

button {
  border: none;
  outline: none;
}

.btn_main {
  display: inline-block;
  background: #011600;
  padding: 0.3em 1.2em;
  color: #FFF;
  text-transform: capitalize;
  text-decoration: none !important;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn_main:hover {
  text-decoration: none !important;
  background: #022e00;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn_sec {
  display: inline-block;
  background: #AAD922;
  padding: 0.3em 1.2em;
}

.norm_link {
  color: #366B01;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1rem;
}

.norm_link:hover {
  text-decoration: underline;
  color: #366B01;
}

.index_form {
  display: block;
}

.index_form input {
  border: 2px solid #FFF;
  background: rgba(0, 0, 0, 0.65);
  height: 3rem;
  width: 100%;
  color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.4em 0.6em;
}

.index_form input:not(:last-child) {
  margin-right: 3rem;
}

.index_form label {
  color: #FFF;
}

.index_form .btn_sec {
  margin-top: 4rem;
  background: #FFF;
  cursor: pointer;
}

.footer_form {
  color: #FFF;
}

.footer_form input {
  width: 100%;
  border: none;
}

.footer_form input:focus, .footer_form input:active {
  outline: 1px solid #011600;
}

.footer_form label {
  font-size: 1rem;
}

.footer_form textarea {
  width: 100%;
  height: 6rem;
}

.footer_form button {
  color: #FFF;
}

@media only screen and (max-width: 767px) {
  .index_form .btn_sec {
    margin-top: 1rem;
  }
}

.hero_banner {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero_banner {
  background-image: url("../../dist/images/banner_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.banner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.banner_content h1, .banner_content p {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .banner_content h1, .banner_content p {
    text-align: center;
    line-height: 1.4;
  }
}

.banner_title {
  color: #FFF;
}

.h-100 {
  height: 100%;
}

.map {
  padding: 4rem 0;
}

.map iframe {
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.contact_info {
  background: #F1F1F1;
  padding: 4rem 0;
}

.contact_info .footer_form_wrap h4, .contact_info .footer_form_wrap input, .contact_info .footer_form_wrap label, .contact_info .footer_form_wrap p {
  color: #464646;
}

.contact_info .footer_form_wrap input, .contact_info .footer_form_wrap textarea {
  border: 1px solid #c2c2c2;
  padding: 0.4rem 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact_info .footer_form_wrap input, .contact_info .footer_form_wrap textarea {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.contact_info a {
  color: #464646;
}

.contact_info_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .contact_info_right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2rem;
  }
}

.contact_info_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_info_list li:not(:last-child) {
  margin-bottom: 1rem;
}

.contact_info_list li i {
  font-size: 1.5rem;
  color: #022e00;
  margin-right: 1.5rem;
  min-width: 2rem;
}

.single_blog {
  padding: 4rem 0;
}

.single_blog h1 {
  font-size: 2rem;
}

.single_blog p {
  margin-top: 2rem;
}

.single_blog_suggest p {
  margin-top: 0;
}

.single_blog_suggest .blog_list .col-md-4 {
  margin-bottom: 2rem;
}

.single_blog_suggest .blog_list {
  padding: 0 0;
}

@media only screen and (max-width: 1366px) {
  body, html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1400px) {
  body, html {
    font-size: 20px;
  }
}

a:hover {
  text-decoration: none !important;
}

a img {
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: inherit;
}

.o_hidden {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */