.nav-item .nav-link, .navbar-brand {
    color: $white;
}

.navbar-nav {
    align-items: center;
}
.btn_reservation {
    margin-left: 2rem;
}   

.navbar-nav .nav-item {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

@media only screen and (max-width: 767px) {
    .bsnav-mobile.in {
        .navbar {
            background:  $primary;;
        }
    }

    .navbar-toggler {
        &:hover, &:active, &:focus ,&::before, &::after {
            outline: none;
            border: none
        }
    }

    .navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
        background: $lines;
    }
}