*{
    margin: 0;
    padding: 0;
  }
  
  html{
    font-size: 16px;
    font-family: $font;
  }
  body{
      font-size: rem-calc(20);
      font-family: $font;
      color: $black;
      line-height: rem-calc(32);
    //   letter-spacing: -.28px;
  }
  h1,h2,h3,h4,h5,h6{
      line-height: 1;
      font-family: $font2;
      color: $text;
  }

  p {
    color: #464646;
  }
  
  h1{
      font-size: rem-calc(60);
    //   letter-spacing: -0.63px;
      line-height: rem-calc(45);
    //   @include breakpoint(md) {
    //       font-size: rem-calc(60);
    //     //   letter-spacing: -0.35px;
    //       line-height: rem-calc(65);
    //   }
  }
  h2{
      font-size: rem-calc(40);
    //   letter-spacing: -0.23px;
      line-height: rem-calc(65);
    //   @include breakpoint(md) {
    //       font-size: rem-calc(60);
    //     //   letter-spacing: -0.35px;
    //       line-height: rem-calc(65);
    //   }
  }
  h3{
      font-size: rem-calc(24);
    //   letter-spacing: -0.43px;
      line-height: rem-calc(36);
    //   @include breakpoint(md) {
    //       font-size: rem-calc(30);
    //       line-height: rem-calc(45);
    //   }
  }
  h4{
      font-size: rem-calc(28);
  }
  h5{
      font-size: rem-calc(24);
  }
  h6{
      font-size: rem-calc(22);
  }
  a{
    text-decoration: none;
    //   @include transition(all,.2s,linear);
    color: $black;
      &:hover{
          text-decoration: none;
      }
  }
  ul,ol,li{
      list-style: none;
      padding: 0;
      margin: 0;
  }
  strong,b{
      font-weight: $bold;
  }
  em,i{
    font-style: italic;
  }
  
  img{
      max-width: 100%;
  }
  
  [class*="aut-bg"]{
      .aut-add-contrast &{
          background: rgba($black,.7);
      }
  }
  .aut-bg-lightgray{
      background: $lightgray;
  }
  .aut-bg-gray{
      background: $gray;
  }
  .aut-bg-black{
      background: $black;
  }
  .aut-bg-white{
      background: $white;
  }
  .aut-bg-primary{
      background: $primary;
  }
  
  .white {
    color: $white;
  }

  a {
    text-decoration: none !important; 
    &:hover, &:focus {
      text-decoration: none !important; 
    }
  }

  .page_wrapper {
    padding: 7rem 0;
    @media only screen and (max-width: 767px) {
      &{
        padding: 2rem 0;
      }
    }
  }
//   .aut-section{
//       padding: 45px 0;
//       @include breakpoint(md) {
//           padding: 100px 0;
//       }
//   }
  
//   .aut-section-title{
//       margin-bottom: 30px;
//       @include breakpoint(md) {
//           margin-bottom: 75px;
//       }
//   }