.booking {
    background: url('../../dist/images/banner_img.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
}

.form_content {
    background: rgba(0,0,0,0.55);
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.form_content_wrapper {
    position: relative;
    z-index: 1;;
    padding: 5rem 3rem;

    h2  {
        color: $white;
    }

    input {
        border: 2px solid $white;
        background: rgba(0,0,0,0.65);
        height: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .form_content {
        width: 100%;
    }

    .index_form input {
        // width: 10rem;
    }

    :not(:last-child) {
        margin-right: 1rem;
    }

    input{
        margin-bottom: 1rem;
    }

    .index_form .btn_sec {
        margin-top: 1rem;
    }
}