.rooms, .offers {
    background: $primary;
    padding: 7rem 0;
    position: relative;
    overflow: hidden;
}

.leaf {
    position: absolute;
    z-index: 1;
    top: -9rem  ;
    right: 0;
    transform: rotate(-90deg);
    opacity: 0.2;
}

.room_header {
    h2, p {
        color: $white;

    }
}

.room_categories , .offers_list {
    margin-top: 4.5rem;
    a p {
        text-transform: uppercase;
        letter-spacing: 0.2em;;
        color: $white;
        text-align: center;
    }

    a {
        display: inline-block;
    }

   p {
       text-align: center;
   }

   figure {
       height: 24rem;
      
    }
    img {
        width: 100%;
        height: 24rem;
        object-fit: cover;
   }

   
    
}


@media only screen and (max-width: 767px) {
    .leaf {
        width: 10rem;
        top: 0;
    }

    .rooms, .offers {
        padding: 2rem 0;
    }

    .room_categories, .offers_list {
        margin-top: 2rem;
    }

    .room_categories {
        .col-md-4 {
            margin-bottom: 1rem;
        }
    }
}