footer {
    background: linear-gradient(135deg, $sec-accent, $secondary);
    padding: 7rem 0;
}

.footer_form_wrap, .footer_wrapper {
    h4, a ,p {
        color: $white;
    }
}

.social_links {
    display: flex;

    li:not(:last-child) {
        margin-right: 1.5rem;
    }
}

.footer_contacts {
    p {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 767px) {
    footer{ 
        padding: 2rem 0;
    }

    .footer_form  {
        input {
            height: 2.5rem;
        }

        .btn_main  {
            margin-top: 1rem;
        }
    }

    .col-md-4 {
        margin-bottom: 3rem;
    }
}