.offers {
    background: linear-gradient(180deg,  $gray-accent 50%, $primary 50% );
}

@media only screen and (max-width: 767px) {
    .offers_list {
        .col-md-4 {
            margin-bottom: 1rem;

            &:first-child {
                p {
                    color: $text;
                }
            }
        }
    }
}