.map {
    padding: 4rem 0;
    iframe {
        width: 100%;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
}

.contact_info {
    background: $gray-accent;
    padding: 4rem 0;
    .footer_form_wrap {
        h4, input, label, p {
            color: $text;
        }

        input, textarea {
            border: 1px solid $lines;
            padding: 0.4rem 0.8rem;
            box-sizing: border-box;
        }

        input, textarea {
            box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        }
    }

    a {
        color: $text;;
    }
}

.contact_info_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 767px) {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

.contact_info_list {
    li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        i {
            font-size: 1.5rem;
            color: $primary-accent;
            margin-right: 1.5rem;
            min-width: 2rem;
        }
    }
}
