.testimonial {
    display: block;
    background: $gray-accent;
    padding: 5rem 0;

    p, h3 {
        text-align: center;
    }
    h3 {
        margin-top: 2rem;
    }
}


.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  i {
      color: $text;
      padding: 0.5em;
  }

  &:hover, &:focus, &:active {
      outline: none;
      border: none;
  }
}

.owl-prev {
  left: -3rem;
}

.owl-next {
  right: -3rem;
}

@media only screen and (max-width: 767px) {
  .owl-prev {
    left: 0rem;
    i {
      color: $text;
      padding: 0.5em;
      background: #869791;
  }

  }
  
  .owl-next {
    right: 0rem;
    i {
      color: $text;
      padding: 0.5em;
      background: #869791;
  }

  }
}