
/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */
   $black : #000;
   $white : #FFF;

   $primary : #011600;
   $primary-accent : #022e00;
   $lightgray : #070707;
   $text: #464646;
   $lines: #c2c2c2;
   $gray : #030202;
   $gray-accent : #F1F1F1;
   $secondary : #AAD922;
   $sec-accent : #366B01;

   $font : 'montserrat', sans-serif;
   $font2: 'Abril Fatface', serif;
   $bold: 700;
   $regular: 400;


