.single_blog {
    padding:4rem 0; 

    h1 {
        font-size: 2rem;
    }
    p {
        margin-top: 2rem;
    }
}

.single_blog_suggest {
    p {
        margin-top: 0;
    }

    .blog_list .col-md-4 {
        margin-bottom: 2rem;
    }
}

.single_blog_suggest .blog_list {
    // margin-top: 1rem;
    padding: 0 0 ;
}

// .single_blog_hero_img img {
//     width: 100%;
//     object-fit: cover;
//     max-height: 22rem;
// }