button {
    border: none;
    outline: none;
}

.btn_main {
    display: inline-block;
    background: $primary;
    padding: 0.3em 1.2em;
    color: $white;
    text-transform: capitalize;
    text-decoration: none !important;
    transition: all 0.25s ease-in-out;
    
    &:hover {
        text-decoration: none !important;
        background: $primary-accent;
        transition: all 0.25s ease-in-out;
    }
}

.btn_sec {
    display: inline-block;
    background: $secondary;
    padding: 0.3em 1.2em;
}



.norm_link {
    color: $sec-accent;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
        color: $sec-accent;
    }
}