.blog_list {
    padding: 4rem 0;
}

.blog_list_image img {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blog_list_meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .blog_list_meta .blog_single_author {
    margin-right: 10px;
  }
  
  .blog_list_meta .blog_single_author .writer_meta,
  .blog_list_meta .posted_date {
    display: inline-block;
    font-weight: 600;
    background: $gray-accent;
    padding: 3px 10px;
    border-radius: 25px;
    line-height: 1.5;
    font-style: italic;
    color: $text;
    letter-spacing: 0.05em;;
  }
  
//   .blog_list_meta .posted_date {
//     background: lightgrey;
//     padding: 3px 10px;
//     border-radius: 25px;
//   }
  
  .blog_post_single h3 {
    font-size: 1.2rem;
  
  }
  
  .blog_post_single {
    padding-bottom: 2rem;
    border-bottom: 1px dashed $lines;

    h2 a {
    text-decoration: none;

    &:hover {
        color: $primary-accent;
    }
    }
  }

//   .cta_blog_list {
//     margin-top:2rem;;
//   }
  
  .blog_post_single:not(:first-child) {
    margin-top: 3rem;
  }


  @media only screen and (max-width: 767px) {
    .blogs {
      padding: 2rem 0;
    }
    .blog_header  {
      flex-direction: column;

      .norm_link {
        margin-top: 1rem;
      }
    }

    .blog_list {
      .col-md-4 {
        margin-bottom: 1rem;
      }
    }
  }