.intro_content {
    padding: 7rem 0;
}
.intro_text {
    flex-direction: column;
    padding: 5rem 3rem;;
    background: $gray-accent;

    p {
        margin-top: 2.5rem;
    }
    
}

.intro_content_wrap {
    // max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-basis: auto;
    // justify-content: stretch;
    align-self: stretch;
}

.intro_img, .intro_text {
    flex-basis: 50%;
    box-sizing:  border-box;

    img {
        object-fit: cover;
    }
}

.intro_img {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .intro_content_wrap {
        max-width: 100%;
        flex-direction: column;
    }

    .intro_img {
        flex: 100%;
    }

    .intro_content {
        padding: 2rem 0;
    }

    .intro_text {
        padding: 2rem 3rem;
    }
}