.gallery_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
    a {
        height: 30vh;
        width: calc(100%/5);

        @media screen and (max-width: 767px) {
            &{
                height: 20vh;
                width: calc(100% / 2 - 10px);
                margin: 0 auto;
            }
        }

        img {
            height: 100%;
            width: 100%;
            border: 2px solid $white;
            object-fit: cover;
        }
    }


}

.album_gallery_single:not(:last-child) {
    margin-bottom: 4rem;
}