.blogs {
    padding: 7rem 0;

    .blog_list {
        padding: 0;
    }
}

.blog_list {
    margin-top: 1rem;

    figure {
        height: 24rem;

        img {
            width: 100%;
            height: 24rem;
            object-fit: cover;
        }
    }

    .col-md-4 a h3 {
        font-family: 'montserrat';
        font-size: 1.2rem;
        font-weight: 500;;
        transition: all 0.3s ease-in-out;
    }
    .col-md-4 a:hover {
        p {
            color: $secondary;
            transition: all 0.3s ease-in-out;
        }
    }
}